{% extends 'base.html' %}

{% block title %}
Index page
{% endblock %}
{% block content_title %}
<p>Index page</p>
{% endblock %}

{% block content %}

{% for user in users %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a href="#">{{ user.username }}</a>
        <h5 class="card-title">Помогите с квадратным уравнением!!</h5>
        <p class="card-text">Решите уравнение:<br/> <img src="#"></p>
        <div class="badge bg-danger text-wrap" style="width: 6rem;">
            {{ user.email }}
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}

