{% extends 'base.html' %}

{% block title %}
Index page
{% endblock %}
{% block content_title %}
<p>Index page</p>
{% endblock %}

{% block content %}

<h1>Hi, {{ current_user.username }}</h1>


{% for post in posts %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a href="#">{{ post.author.username }}</a>
        <h5 class="card-title">{{ post.body }} </h5>
        <p class="card-text">{{ post.body }}<br/><img src="{{ post.image }}"></p>
        <div class="badge bg-danger text-wrap" style="width: 6rem;">
            {{ post.value }}
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}

